*{padding:0; margin:0}
li{list-style: none;}

.functionArea li {
  height:35px;
  /* display: block; */
  color:#ccc;
}

.functionArea li a{
  display: block;
  height:35px;
  width: 100%;
  line-height: 35px;
  color: rgb(184, 180, 174);
}

.functionArea li a:hover{
  background-color: #3E4345;
}